section.secteurs-activite{
    margin-top: 15vh;
    h2{
        color: $darkBlue;
        font-weight: 900;
        padding-left: $px;
        padding-right: $px;
        margin-bottom: 30px;

    }
}