nav {
    --nav-item-color: white;
    --active-item-color: white;
    --nav-bg-color: transparent;
    --btn-bg-color: white;
    --btn-color: #292929;
    --logo-grey: white;
    --logo-blue: white;
    --border-bottom-color: transparent;
    &.scrolling {
        // --nav-item-color: #292929;
        --nav-item-color: white;
        --active-item-color: #2169f3;
        --nav-bg-color: white;
        --btn-bg-color: #292929;
        --btn-color: white;
        --logo-grey: #292929;
        --logo-blue: #2169f3;
        --border-bottom-color: #e7e7e7;
    }

    width: 100%;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: var(--nav-bg-color);
    transition: background-color 0.2s;
    border-bottom: 1px solid var(--border-bottom-color);
    .content {
        max-width: $maxWidth;
        margin-right: auto;
        margin-left: auto;
        padding-left: $px;
        padding-right: $px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            a.brand {
                .images {
                    width: 270px;
                    transition: all 0.3s;
                    img {
                        width: 100%;
                        &.default {
                            display: none;
                        }
                        &.white {
                        }
                    }
                }
            }
        }
        ul.right {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: right;
            align-items: center;
            width: 100%;
            gap: 20px;
            height: 55px;
            // border: 1px solid red;
            & > li {
                // border: 1px solid red;
                position: relative;
                &>a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--nav-item-color); //var(--nav-item-color)
                    font-size: 13px;
                    font-weight: 500;
                    position: relative;
                    padding: 17px 10px;
                    position: relative;
                    &:not(.dropdown-toggle) {
                        &::after {
                            content: "";
                            display: block;
                            width: 0%;
                            height: 1px;
                            position: absolute;
                            bottom: 0px;
                            background-color: var(--nav-item-color);
                            transition: all 0.2s cubic-bezier(0.76, 0.05, 0.86, 0.06);
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
                &.current-menu-item,
                &.current-page-ancestor {
                    a {
                        font-weight: 900;
                        color: var(--active-item-color) !important; //var(--active-item-color)
                    }
                }
                &:last-child a {
                    background-color: var(--btn-bg-color);
                    color: var(--btn-color);
                    font-weight: 700;
                    padding: 15px 12px;
                }
                .dropdown-menu {
                    width: 70px;
                    li {
                        a {
                            color: $bodyColor;
                            padding: 0 8px;
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
                .sub-menu{
                    list-style-type: none;
                    padding: 0;
                    background-color: white;
                    position: absolute;
                    top: 33px;
                    border-radius: 5px;
                    opacity: 1;
                    display: none;
                    animation: subMenuAnim .3s;
                    width: 190px;
                    overflow: hidden;
                    border: 1px solid $greyBg;
                    @keyframes subMenuAnim {
                        from{
                            opacity: 0;
                        }
                        to{
                            opacity: 1;
                        }
                    }
                    li{
                        a{
                            color: $bodyColor;
                            text-decoration: none;
                            text-transform: uppercase;
                            padding: 8px 10px;
                            transition: all .3s;
                            font-size: 13px;
                            font-weight: 500;
                            display: block;
                        }
                        &:hover{
                            background-color: $greyBg
                        }
                    }
                }
                &.menu-item-has-children:hover{
                    .sub-menu{
                        display: block;
                    }
                }
            }
        }
        .mobile-nav {
            display: none;
        }
    }
    &.scrolling {
        .content .left a.brand {
            .images {
                width: 200px;
                img {
                    &.default {
                        display: inline;
                    }
                    &.white {
                        // opacity: 0;
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $xlBreakpoint) {
        .content {
            .left a.brand {
                .images {
                    width: 200px;
                }
            }
            ul.right {
                display: none;
            }
            .mobile-nav {
                display: block;
                .toggle-menu {
                    color: var(--nav-item-color);
                    font-size: 1.3em;
                }
                .offcanvas {
                    width: 100%;
                    max-width: 400px;
                    .offcanvas-header {
                        a {
                            img {
                                width: 250px;
                            }
                        }
                    }
                    .offcanvas-body {
                        ul {
                            padding: 0;
                            margin: 0;
                            list-style-type: none;
                            li {
                                height: 45px;
                                display: flex;
                                // margin-bottom: 20px;
                                a {
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    color: $bodyColor;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    font-weight: 500;
                                }
                                &.current-menu-item,
                                &.current-page-ancestor {
                                    a {
                                        // border-bottom: 1px solid $blue;
                                        color: $blue;
                                        font-weight: 900;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
