//colors
$bodyColor: #292929;
$blue: #2169F3;
$blueHover: #115ae2;
$darkBlue: #002979;
$greyBg: #F2F2F2;
$lightGreyBg: #F9FAFB;
$mtecPurple: #d41381;
$mtecBlue: #0098c3;
$woRed: #F8311E;

// sizing
$maxWidth: 1430px;
$px: 4%;

//breakpoints
$xlBreakpoint: 1200px;
$lgBreakpoint: 992px;
$mdBreakpoint: 768px;
$smBreakpoint: 576px;